# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Entorno virtual
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Variables de entorno
.env

# Editores
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# SO
.DS_Store
Thumbs.db

# Tests / cobertura
.pytest_cache/
.coverage
htmlcov/

# Frontend
node_modules/
static/dist/

# Archivos de trabajo de sesiones con Claude
Claude outputs/
commit_msg.txt
